.slider-indicators .indicator {
    width: 12px;
    height: 12px;
    background-color: #ccc;
    border-radius: 50%;
    margin: 0 5px;
    transition: background-color 0.3s ease, transform 0.3s ease;
  }
  
  .slider-indicators .indicator.bg-blue-500 {
    background-color: #00bcd4; /* Color calipso */
  }
  
  .slider-indicators .indicator.bg-gray-300 {
    background-color: #ccc; /* Color gris */
  }

  .line {
    background-color: #00bcd4; /* Línea semi-transparente */
    height: 2px; /* Ajustar el grosor */
    width: 75%; /* Ocupa un 75% del ancho de la pantalla */
    margin: 0 auto; /* Centrarla */
    border-radius: 4px; /* Bordes redondeados opcionales */
    margin-top: 10px;
  }
  